# Credit Card

In [ ]:
#importing necessary dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#load dataset
data=pd.read_csv('creditcard.csv')
data.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0

In [3]:
#information about data
data.info()
data['Class'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

0    284315
1       492
Name: Class, dtype: int64

In [4]:
#since 0 represents a normal transaction and 1 represents a fraudulent transcation, classifying the data for analysis 
valid=data[data.Class==0]
fraud=data[data.Class==1]
print(valid.shape,fraud.shape)

(284315, 31) (492, 31)

In [5]:
valid.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [6]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Taking a sample dataset containing similar distribution of normal/valid transactions and Fraudulent transaction

In [7]:
valid_sample=valid.sample(n=492)

In [8]:
#concatenating two dataframes
final_data=pd.concat([valid_sample,fraud], axis=0)
final_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
196135,131371.0,-4.498984,4.476372,-2.998047,-1.010279,-1.255762,-1.575651,-0.477815,1.420115,1.871397,...,0.216848,1.104106,0.305251,-0.013045,-0.036842,-0.187365,0.977029,0.858075,1.25,0
94854,65059.0,1.275771,0.272247,-0.062659,0.170127,-0.259263,-1.576522,0.544576,-0.493496,-0.359425,...,-0.004563,0.042584,-0.071541,0.828678,0.544160,1.044916,-0.107404,-0.000906,19.95,0
215093,139934.0,-0.120435,-0.648825,0.408642,0.953530,-1.118513,1.079195,0.649374,0.182474,0.209202,...,0.608012,1.445331,0.871743,0.730023,-1.508063,0.304572,0.250391,0.319658,323.86,0
34580,37734.0,-1.382657,0.455951,2.135555,1.586594,1.147205,-1.020750,0.404396,0.062625,-1.265285,...,0.169145,0.078797,-0.205642,0.365008,0.588350,-0.014928,-0.031087,0.078234,10.65,0
3778,3276.0,0.161685,1.092517,0.611808,1.186926,0.099792,0.228610,-0.130081,-1.797563,-0.499606,...,1.575581,-0.251976,-0.283132,-0.414757,1.023023,-0.047064,0.256293,0.228392,29.99,0

In [9]:
final_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94497.489837,0.010703,0.044271,-0.063798,-0.004880,-0.004257,0.014846,-0.013307,0.031941,-0.017351,...,0.008457,-0.004190,0.009954,0.010450,-0.006672,-0.016600,0.020639,-0.024734,-0.010614,87.223801
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the dataset into features and targets

In [10]:
X=final_data.drop(columns='Class',axis=1)
Y=final_data['Class']

In [11]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
196135  131371.0 -4.498984  4.476372 -2.998047 -1.010279 -1.255762 -1.575651
94854    65059.0  1.275771  0.272247 -0.062659  0.170127 -0.259263 -1.576522
215093  139934.0 -0.120435 -0.648825  0.408642  0.953530 -1.118513  1.079195
34580    37734.0 -1.382657  0.455951  2.135555  1.586594  1.147205 -1.020750
3778      3276.0  0.161685  1.092517  0.611808  1.186926  0.099792  0.228610
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
196135 -0.477815  1.420115  1.871397  ...  1.198656  0.216848  1.104106
94854   0.544576 -0.493496 -0.359425  ...  0.017547 -0.004563  0.042584
215093  0.649374  0.182474  0.209202  ...  0.893398  0.608012  1.445331
34580   0.404396  0.062625 -1.265285  ...  0.057360  0.169145  0.078797
3778   -0.130081 -1.797563 -0.499606  ... -0.177931  1.575581 -0.251976
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
196135  0.305251 -0.013045 -0.036842 -0.187365  0.977029  0.858075    1.25
94854  -0.071541  0.828678  0.544160  1.044916 -0.107404 -0.000906   19.95
215093  0.871743  0.730023 -1.508063  0.304572  0.250391  0.319658  323.86
34580  -0.205642  0.365008  0.588350 -0.014928 -0.031087  0.078234   10.65
3778   -0.283132 -0.414757  1.023023 -0.047064  0.256293  0.228392   29.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [12]:
print(Y)

196135    0
94854     0
215093    0
34580     0
3778      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the dataset into training and testing sets

In [13]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=3)

Create and train the logistic regression model

In [14]:
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Predict accuracy score

In [15]:
X_train_prediction=model.predict(X_train)
training_accuracy=accuracy_score(X_train_prediction,Y_train)

In [16]:
print("The accuracy score on Training Data : ",training_accuracy)

The accuracy score on Training Data :  0.940279542566709

In [17]:
X_test_prediction=model.predict(X_test)
test_accuracy=accuracy_score(X_test_prediction,Y_test)

In [18]:
print("The accuracy score on Test Data : ",test_accuracy)

The accuracy score on Test Data :  0.9593908629441624